@import './reset.scss';
@import './theme.scss';

.App {
  &__greeting {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
  }
  &__message {
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
}
